<!DOCTYPE html>
<html>
<head> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ขอบคุณสำหรับการชำระเงิน!</title>
</head>

<body>
    <span>{{title}}</span><br>
    <span>Date: {{date}}</span><br><br>

    <span>SP: {{provider}}</span><br><br>
    
    <span>Name: {{fullname}}</span><br>
    <span>Email: {{email}}</span><br>
    <span>Phone: {{phone}}</span><br><br>

    <span>SKU: {{sku}}</span><br>
    <span>AssetBundleID: {{asset_bundle_id}}</span><br>
    <span>RedeemCode: {{redeem_code}}</span><br>
</body>

</html>
